
<div class="bg-grey-50" id="about">
  <div class="container flex flex-col items-center justify-center py-16 md:py-20 lg:flex-row">
     <div class="w-full text-center sm:w-3/4 lg:w-3/5 lg:text-left">
        <h2
           class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
           >
           Who am I?
        </h2>
        <h4
           class="pt-6 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
           >
           I'm Andrew Kostka, a Senior Software Engineer from Portland, OR.
        </h4>
        <p class="pt-6 font-body leading-relaxed text-grey-20">
          I'm a people-focused engineer with over 12 years experience in building SaSS applications.
          More interested in finding solutions than the tools we use to reach them.
          Always happy to learn more.
        </p>
        <div
           class="flex flex-col justify-center pt-6 sm:flex-row lg:justify-start"
           >
           <div class="flex items-center justify-center sm:justify-start">
              <p class="font-body text-lg font-semibold uppercase text-grey-20">
                 Connect with me
              </p>
              <div class="hidden sm:block">
                 <i class="bx bx-chevron-right text-2xl text-primary"></i>
              </div>
           </div>
           <div
              class="flex items-center justify-center pt-5 pl-2 sm:justify-start sm:pt-0"
              >
              {% include social-links.html color="primary" hover="primary" %}
           </div>
        </div>
     </div>
  </div>
</div>