<div class="container py-16 md:py-20" id="passion">
  <h2
     class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
     >
     Here are some passion projects
  </h2>
  <div
     class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-3"
     >
     <a class="group rounded px-8 py-12 shadow hover:bg-grey-50" href="https://windupbirdgames.itch.io" target="_blank">
        <div class="mx-auto h-40 w-28 text-center xl:h-52 xl:w-36">
           <div class="block">
              <img
                 src="/assets/img/logo-windupbird.png"
                 alt="windupbird games logo"
                 />
           </div>
        </div>
        <div class="text-center">
           <p class="text-grey pt-4 text-sm md:text-base">
              Exploring game development in Unity with family and friends. Look out for our first game, Fungicide!
           </p>
        </div>
     </a>
     <a class="group rounded px-8 py-12 shadow hover:bg-grey-50" href="https://betterone.day" target="_blank">
        <div class="mx-auto h-40 w-48 text-center xl:h-52 xl:w-64">
           <div class="block">
              <img
                 src="/assets/img/logo-betteroneday.png"
                 alt="betterone.day logo"
                 />
           </div>
        </div>
        <div class="text-center">
           <p class="text-grey pt-4 text-sm md:text-base">
              An app helping you get better, one day at a time. Track progress and correlate personal data.
           </p>
        </div>
     </a>
  </div>
</div>